<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/theme/style.css}"/>
    <title>Patient Assignments</title>
    <meta charset="UTF-8">
</head>
<body>

<div id="top-container-inner"></div>
<div style="height: 90px;"></div>

<div class="content">
    <div class="shadow-right-bottom" id="pagetitle-wrapper">
        <span style="float: left;padding: 8px 0px 0px 10px;"></span>
        <span class="pageTitle">Make Patient Assignments!</span>
    </div>

    <span style="float: left;padding: 8px 0px 0px 10px;">
    <a class="button gray small" th:href="@{/ctassignments}"><span>Back</span></a>

    <p class="italictext">
        To make an assignment, please enter a patient visit number and patient MRN.
        If no providers are entered, assignments will be cleared.
    </p>

    <div class="info" th:if="${successMessage}" th:text="${successMessage}"/>
    <div class="error-message" th:if="${errorMessage}" th:text="${errorMessage}"/>

    <form method="post" th:action="@{/ctassignments/patient}" th:object="${careTeamPatientAssignment}">

    <table class="table-form">
        <tr>
            <td><label class="label">Patient Visit Number: </label></td>
            <td>
                <input placeholder="Patient Visit Number" th:field="*{visitNumber}">
                <label class="error" th:errors="*{visitNumber}" th:if="${#fields.hasErrors('visitNumber')}"/>
            </td>
        </tr>

        <tr>
            <td><label class="label">Patient MRN: </label></td>
            <td>
                <input placeholder="Patient MRN" th:field="*{mrn}"/>
                <label class="error" th:errors="*{mrn}" th:if="${#fields.hasErrors('mrn')}"/>
            </td>
        </tr>

        <tbody>
            <tr th:each="provider, iter : *{careTeam}">
                <td>
                    <label class="label">Provider: </label>
                </td>
                <td>
                    <input placeholder="User Identifier" th:field="*{careTeam[__${iter.index}__].userIdentifier}"/>
                    <input placeholder="Role" th:field="*{careTeam[__${iter.index}__].role}"/>
                </td>
            </tr>
        </tbody>

        <tr>
            <td align="left" colspan="2"><input class="button purple" type="submit" value="Save"/></td>
        </tr>

    </table>

    </form>
    </span>

</div>

</body>
</html>